
.social-media {
  width: 100%;
  text-align: center;
  padding: .4em 0;
  margin-left:20px;
}
  .title {
    margin: .4em 0;
  }

  .icons-wrapper {
   
    display: flex;
    align-items: center; 
  }


.icons-wrapper a:hover {
  -ms-transform: scale(2.3); /* IE 9 */
  -webkit-transform: scale(2.3); /* Safari 3-8 */
  transform: scale(1.2); 
}

